.header{
	background-image: url(../img/atas1.jpg);
	background-repeat: no-repeat;
	height: 200px;
	width: 100%;
}

.menubar ul{
	background-color: #C6517F;
	width: 98.8%;
	height: 60px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	position: absolute;
	z-index:9999;
	margin-top: -60px;
}
.menubar li{
	float: left;
}
.menubar li a{
	display: block;
	text-align: center;
	padding: 20px 15px;
	text-decoration: none;
	font-family: orator std;
	color: white;
	
}
.menubar li a:hover{
	background-color: #6495ED;
}
.menubar li a:visited{
	color: white;
	z-index:9999;
}


.menu2{
	background-color: white;
	opacity: 0.9;
	width: 100%;
	height: 350px;
	float: left;
	
}
.menu2 h2{
	margin-left: 65px;
	font-family: orator std;
}
.menu2 p{
	margin-left: 65px;
	font-family: orator std;
}

form {
    width:1400px;
    margin-left: 65px;
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    width: 600px;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #C6517F;
    background-color:#C6517F;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}



.footer{
	background-color: #C6517F;
	opacity: 0.9;
	width: 100%;
	height: 70px;
	bottom: 0px;
	margin-bottom: 1px;
	padding: 0;
	overflow: hidden;
	margin-bottom: 0px;
	text-align: center;
	margin-top: 0px;
	color: white;
	font-family: orator std;
}